

.primary {
    color: $primarycolor;
}
.active{
   .dropdown-menu{
       display: block;
   }
}
.secondary {
    color: $secondarycolor;
    &:hover{
       color: $textcolor;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1950px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 992px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 995;
    }
}

@media (min-width: 768px) {

    .container,
    .container-md,
    .container-sm {
        max-width: 770;
    }
}

@media (min-width: 576px) {

    .container,
    .container-sm {
        max-width: 580;
    }
}

* {
    scroll-behavior: smooth;
}

.slide {
    margin-left: 400px;
    transition: 0.6s;
}

