$primarycolor: #1B1B1B;
$primarycolorhover: #FA5107;
$secondarycolor: #999;
$secondarycolorsoft: #bdbdbd8a;
$textcolor: rgb(96, 96, 96);
$secondarycolorhover: #4EA1FF;
$white: #FFFFFF;
$offwhite: rgba(255, 255, 255, 0.5);
$bgcolor: #F5F5F5;

@import 'common';
@import 'header';
@import 'home';
@import 'articles';
@import 'feature';
@import 'world';
@import 'recent';
@import 'footer';
@import 'home-travel';
@import 'articles-travel';
@import 'magazine-travel';
@import 'mostpopular-travel';